{% extends 'base.html.twig' %}

{% block title %}Edit
	{{ random_table.TableName}}
{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('newtable') }}
	{# <link rel="stylesheet" href="{{ asset('styles/newtable/newtable.css') }}"> #}
{% endblock %}

{% block body %}
	<section>
		<h2> Editing <strong>{{ random_table.TableName}}</strong> </h2>
        <div id="tableOptions">
            <p>Dice : {{ random_table.Dice }}</p>
            <p>Table type : {{ random_table.TableType }}</p>
            <p>Color theme : {{ random_table.Theme }}</p>
        </div>
		<div class="example-wrapper">
			{{ include('random_tables_crud/_form.html.twig', {'button_label': 'Update'}) }}
		</div>
        <a id="back" href="{{ path('app_random_tables_crud_index') }}">back to list</a>
		<div id="delete">
		    {{ include('random_tables_crud/_delete_form.html.twig') }}
        </div>
	</section>


{% endblock %}
