{% extends 'base.html.twig' %}

{% block title %}Random Dnd Tables{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/tables/tables.css') }}">
{% endblock %}

{% block body %}

<style> 
    #mainView{
        background-image: url("{{asset(lienPage)}}");
    }
</style>

<div id="logo"><img src="{{asset('images/Dice.png')}}" alt="illustration de d20"></div>
 <nav> 
    {% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.userIdentifier }}, <br>
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% endif %}
    <ul>
        <li> Tables Génériques :
            <ul>
                {% for random_table in random_tables | filter((random_table) => random_table.DungeonMaster == null) %}
                <li><a href="{{ path('app_dnd_table', {'id': random_table.id}) }}">{{ random_table.TableName }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <br>
        <li> Mes Tables :
            <ul>
                {% for random_table in random_tables | filter((random_table) => random_table.DungeonMaster == app.user) %}
                <li><a href="{{ path('app_dnd_table', {'id': random_table.id}) }}"symfo>{{ random_table.TableName }}</a></li>
                {% else %}
                    <li>aucune table</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <button type="button" onclick="location.href = 'new/table'"><p>nouvelle <br> table aléatoire</p></button>
</nav>
<section id="topView">
    <div>
        <button>roll the dice</button>
        <input type="text" placeholder="input a result">
    </div>
    <img src="{{asset('images/Dice.png')}}" alt="illustration de d20">
</section>

    <section id="mainView">
        <table>
            <tr>
                <th>Dice</th>
                <th>Table Name</th>
            </tr>
            {% for i in 0..6 %}
                <tr>
                    <td scope="dice">{{i}}</td>
                    <td scope="text">lorem ipsum</td>
                </tr> 
            {% endfor %}
        </table>
    </section> 



{% endblock %}